.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5em;
  height: 70px;
  width: 100vw;
  position: fixed;
  left: 0;
  z-index: 2;
}

.logo {
  display: flex;
  padding: 10px;
}

.my-logo {
  height: 50px;
  width: 60px;
}

.logo:hover {
  animation: pulse;
  animation-duration:1.5s;
}

.nav {
  align-items: center;
  display: flex;
  gap: 50px;
}

.nav ul {
  display: flex;
  gap: 20px;
}

.header a{
  text-decoration: none;
}

.nav a:hover {
  color: #64FFDA;
  border-bottom: 1px solid #64FFDA;
}

.resume {
  padding-right: 30px;
}

.resume a{
  border: 1px #64FFDA solid;
  border-radius: 5px;
  color: #64FFDA;
  padding: 7px 9px 5px 9px;
  font-size: 1em;
}

.resume a:hover{
  background-color: #132b25;
  opacity: 0.3;
}

.my-nav-responsive{
  display: none;
}

@media (max-width: 400px)
{ 
  
  .logo{
    padding: 8px;
  }
  .my-logo{
    height: 60px;
    width: 70px;
  }
  .nav{
    display: none;
  }

  .header {
    width: 100vw;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .my-nav-responsive{
    display: block;
  }
  .menu {
    background-color: #0A192F;
  }

  .menu-content{
    display: none;
    font-family: 'Calibre-Thim'; 
   
  }

  .menubtn {
    align-items:flex-end;
    border: none;
    display: flex;
    flex-direction:column;
    gap: 15px;
    height: 80;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    margin-top: 3px;
    width: 80px;
  }

  .dash{
    background-color: #64FFDA;
    height: 5px;
    width: 100%;
  }
  .dash:nth-child(2) {
    width: 80%;
  }
  .dash:nth-child(3) {
    width: 50%;
  }


  .menu:hover .menu-content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    right: 5px;
    height: 500px;
    width: 80%;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    font-size: 0.8em;
    z-index: 1;
    top: 70px;    
    background-color: #a40be5; 
  }

  .menu-content a {
    background-color: inherit;
    font-size: 1.8em;
    text-decoration: none;
    width: 90%;
    text-align: center;

  }

  .menu-content a:last-child{
    background-color: #0A192F;
    border: 1px #64FFDA solid;
    font-weight: 800;
    border-radius: 10px;
    color: #64FFDA;
    height: 50px;
    width:200px;
    text-align: center;
    padding-top:  10px;
  }

  .menu-content a:hover {
    border-bottom: 1px solid #0A192F;
  }
  
}

