.project-card-content {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: 280px;
  justify-content: center;
  padding: 10px;
  width: 800px;
}

.screenshot {
  background-color: inherit;
}

.screenshot:hover {
  opacity: 0.5;
}

.screenshot img {
  border: 1px solid black;
  height: 262px;
  width: 400px;
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  height: 262px;
  width: 400px;
}

.project-details p {
  font-size: 1.5;
  text-align: justify;
}

.project-details a {
  font-size: 1.3em;
}

.project-details a:hover {
  color: grey;
  font-size: 1.5em;
}


@media (max-width: 400px)
{ 
  a {
    text-decoration: none;
  }
  .project-card-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 370px;
  }
  .screenshot img {
    border: 3px #64FFDA solid;
    height: 162px;
    width: 300px;
  }

  .project-details {
    gap: 10px;
  }

  .project-details h2 {
    align-self: center;
  }
  .project-details p{
    align-self: center;
    width: 80%;
    text-align: justify;
  }

  .project-details a {
    align-self: center;
  }
}