
.title {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  height: 100px;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
.title h2 {
  font-size: 3em;
}

.single-line {
  background-color: darkgray;
  min-width: 50px;
  width: 150px;
  height: 1px;
}

@media (max-width: 400px)
{
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    padding: 5px;
    gap: 5px;
  }
  .title h2 {
    font-size: 2.5em;
    text-align: center;
  }

  .single-line {
    display: none;
  }
  .avatar {
    display: none;
  }
}