
.title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 500px;
  padding: 5px;
}
.title h2 {
  font-size: max(34px, 4vw);
  font-size: min(100px), 8vw;
}

.single-line {
  background-color: darkgray;
  width: 100px;
  height: 1px;
}

@media (max-width: 400px)
{
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    padding: 5px;
    gap: 5px;
  }
  .title h2 {
    font-size: 2.5em;
  }

  .single-line {
    display: none;
  }
}