.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 0;

}

.main-content {
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hello-me {
  margin-top: 100px;
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  width: 1300px;  
  margin-bottom: 150px;
}

.hello-me p {
  font-size: 1.5em;
  color: #64FFDA;
}


.hello-me h1 {
  font-family: 'Calibre-Bold';
  font-size: 4.5em;
}

.hello-me h1:nth-child(3) {
  color: darkgray;
}

.paragraph p:nth-child(1) {
  color: violet;
}

.paragraph p:nth-child(2) {
  width: 600px;
}

.hello-me .paragraph a {
  color: rgb(3, 236, 3);
  text-decoration: none;
  font-weight: bold;
}

.link {
  margin-top: 20px;
}

.projects-link {
  text-decoration: none;
  border-radius: 3px;
  color: #64FFDA;
  border: #64FFDA solid 1px;
  font-size: 1.5em;
  padding: 10px;
}

.projects-link:hover {
    background-color: #64FFDA;
    color: #192220;
    border: #192220 1px solid;
}

@media (max-width: 400px)
{ 
  .container{
    margin-top: 50px;
  }
  .left-sidebar {
    display: none;
  }

  .right-sidebar {
    display: none;
  }

  .hello-me {
    margin: 0;
    padding: 5px;
    width: 390px;
    height: 550px;
    text-align: center;
  }

  .hello-me h1 {
    font-family: 'Calibre-Bold';
    font-size: 2.5em;
  }

  .hello-me p {
    font-size: 1.5em;
  }

  .paragraph p:nth-child(2) {
    width: 390px;
  }

}