.container {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 250px;
  width: max-content;
  padding: 0;
  position: relative;
  top: 200px;

}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.hello-me {
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.hello-me p {
  color: #64FFDA;
  font-size: max(16px, 1.5vw);
  font-size: min(24px), 1.5vw;
}


.hello-me h1 {
  font-family: 'Calibre-Bold';
  font-size: max(50px, 5vw);
  font-size: min(150px), 10vw;

}

.hello-me h1:nth-child(3) {
  color: darkgray;
}

.paragraph p:nth-child(1) {
  color: violet;
}

.paragraph p:nth-child(2) {
  max-width: 600px;
  word-wrap: break-word; 
}

.hello-me .paragraph a {
  color: rgb(3, 236, 3);
  text-decoration: none;
  font-weight: bold;
}

.link {
  margin-top: 20px;
}

.projects-link {
  text-decoration: none;
  border-radius: 3px;
  color: #64FFDA;
  border: #64FFDA solid 1px;
  font-size: 1.5rem;
  padding: 10px;
}

.projects-link:hover {
    background-color: #64FFDA;
    color: #192220;
    border: #192220 1px solid;
}

@media (max-width: 400px)
{ 
  .container{
    top: 120px;
    gap: 150px;
  }
  .left-sidebar {
    display: none;
  }

  .right-sidebar {
    display: none;
  }

  .hello-me {
    margin: 0;
    padding: 5px;
    width: 390px;
    height: 550px;
    text-align: center;
  }

  .hello-me h1 {
    font-family: 'Calibre-Bold';
    font-size: 2.5em;
  }

  .hello-me p {
    font-size: 1.5em;
  }

  .paragraph p:nth-child(2) {
    width: 390px;
  }

}