@import url(./style/fonts/calibre/fonts.css);
*{
  margin: 0;
  padding: 0;
  list-style:none;
  background-color: #0A192F;
  color: white;
}

@media (max-width: 1170px){

  body .left-sidebar {
    display: none;
  }

  body .right-sidebar {
    display: none;
  }
}

@media  (max-width: 970px) {
  body .about-content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}



@media (max-width: 400px)
{ 
  body {
    margin: 0;
    padding: 0;
  }

  .project-card-content {
    background-color: #0A192F;
    height: 100vh;
    width: 100vw;
  }

  .project-card-content {
    display: flex;
    flex-direction: row;
  }

  .screenshot img {
    border: 1px solid black;
    height: 162px;
    width: 300px;
  }

}